.card {
    position: relative;
    width: 18rem;
    border-radius: 20px;
}

.cardBody h5 {
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    width: 195px;
    ;
}

.img {
    filter: brightness(50%);
    border-radius: 15px !important;
}

.img:hover {
    filter: brightness(100%);
}

.edit {
    text-decoration: underline;
}