.inputBackground {
  background: #f6f5f4;
}

.title {
  color: #2e266f;
}

.firstSectionImg {
  position: relative;
  z-index: 4;
}
.title {
  margin-bottom: 30px;
}

.firstSection::after {
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  background-color: #efc81a;
  position: absolute;
  z-index: 1;
}

.borderTitle {
  border-left: 10px solid #efc81a;
}

.sectionContainer {
  margin-top: 50px;
  position: relative;
  z-index: 4;
}

@media (max-width: 576px) {
  .borderTitle {
    border: none;
    white-space: nowrap;
  }
  .sectionContainer {
    margin-top: 0;
  }
  .title {
    margin-bottom: 0;
  }
}
